/* 
==========
FONTS
=========
*/
@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

/*
============
VARIABLES
============
*/
:root {
	--clr-primary-1: hsl(26, 100%, 55%);
	--clr-primary-2: hsl(25, 100%, 94%);
	--clr-primary-3: hsl(0, 0%, 100%);
	/* (with 75% opacity for lightbox background) */
	--clr-primary-4: hsl(0, 0%, 0%);
	--clr-neutral-2: hsl(220, 13%, 13%);
	--clr-neutral-3: hsl(219, 9%, 45%);
	--clr-neutral-4: hsl(220, 14%, 75%);
	--clr-neutral-5: hsl(223, 64%, 98%);
	--transition: all 0.3s linear;
	--ff-primary: "Kumbh Sans";
}

/*
==============
GLOBAL STYLES
==============
*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: var(--ff-primary);
}
ul {
	list-style-type: none;
}
a {
	text-decoration: none;
}
h1 {
	font-size: 2rem;
}
h2 {
	font-size: 1.25rem;
	font-weight: 300;
}
h3 {
	font-size: 1rem;
}
h4 {
	font-size: 0.7rem;
}
p {
	font-size: 16px;
}
h1,
h2,
h3,
h4 {
	text-transform: capitalize;
}
@media screen and (min-width: 800px) {
	h1 {
		font-size: 4rem;
	}
	h2 {
		font-size: 2.5rem;
	}
	h3 {
		font-size: 1.75rem;
	}
	h4 {
		font-size: 1rem;
	}
	body {
		font-size: 1rem;
	}
	h1,
	h2,
	h3,
	h4 {
		line-height: 1;
	}
}
/* global classes */
.section {
	padding: 2rem 0;
}

.section-center {
	/* width: 95vw; */
	/* border: 1px solid black; */
	/* margin: 0 auto; */
	/* max-width: 1170px; */
}
